@model Banktive.Web.Models.ServiceModel.ServiceAccountInfoViewModel
@{
    ViewData["Title"] = "Details for account "+Model.ServiceAccount.CustomerId;
}


<div class="row">
    <div class="col-3">
        <br/>
    </div>
    <div class="col-6">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col-3">
        <br/>
    </div>
</div>
<br />

<div class="row">
    <div class="col-12">
        <h3>Add new charge to receive money</h3>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.Form.ServiceAccountId)
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Form.Amount) 
                    @Html.TextBoxFor(x => x.Form.Amount, new { @class = "form-control", type="number" }) <br />
                    @Html.ValidationMessageFor(x => x.Form.Amount) 
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.Form.DueDate) 
                    @Html.TextBoxFor(x => x.Form.DueDate, new { @class = "form-control", type="date" }) <br />
                    @Html.ValidationMessageFor(x => x.Form.DueDate) 
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Add new charge" class="btn btn-secondary loadingButton" />
                </div>
            </div>
        }
    </div>
            

    </div>
<br /><br />

<div class="row">
    <div class="col-12">
        <h3>Charges made to this account</h3>
@if (Model.ServiceAccountDetails.Any())
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Due Date</th>
                <th>Amount</th>
                <th>Is Paid</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.ServiceAccountDetails)
            {
                <tr>
                    <td>@account.DueDate.ToLocalTime()</td>
                    <td>@account.Amount (@account.Currency.Code)</td>
                    <td>@(account.Paid? "Yes": "No")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="alert alert-info alert-dismissible fade show">You do not have any charges registered for this account.</p>
}
</div>
            

    </div>