@model Banktive.Web.Models.ServiceModel.ServiceAccountsViewModel
@{
    ViewData["Title"] = "Accounts for "+Model.Service.Name;
}


<div class="row">
    <div class="col-3">
        <br/>
    </div>
    <div class="col-6">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col-3">
        <br/>
    </div>
</div>
<br />


<div class="row">
    <div class="col-12">
        <h3>Add new account</h3>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.Form.Id)
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(x => x.Form.CustomerId) 
                    @Html.TextBoxFor(x => x.Form.CustomerId, new { @class = "form-control" }) <br />
                    @Html.ValidationMessageFor(x => x.Form.CustomerId) 
                </div>
                <div class="col-md-6">
                    <input type="submit" value="Add new account" class="btn btn-secondary loadingButton" />
                </div>
            </div>
        }
    </div>
            

    </div>
<br /><br />
<div class="row">
    <div class="col-12">
        <h3>Accounts for this service</h3>
@if (Model.ServiceAccounts.Any())
{
    @*<div class="row">
        <div class="col-6 text-right">
            @if (Model.Page > 1)
            {
                <a href="@Url.Action("Index","Transfer",new { page = (Model.Form.Page - 1), wallet = Model.Form.WalletId, year= Model.Form.Year, month = Model.Form.Month })">Previous</a>
            }
        </div>
        <div class="col-6 text-left">
            <a href="@Url.Action("Index","Transfer",new { page = (Model.Form.Page + 1), wallet = Model.Form.WalletId, year= Model.Form.Year, month = Model.Form.Month })">Next</a>
        </div>
    </div>*@
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Date</th>
                <th>Customer Id</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.ServiceAccounts)
            {
                <tr>
                    <td>@account.CreatedAt.ToLocalTime()</td>
                    <td>@account.CustomerId</td>
                    <td>@Html.ActionLink("Details", "ServiceAccountInfo", "Service", new { id = account.Id }, new { @class = "btn btn-success loadingButton" })</td>
                </tr>
            }
        </tbody>
    </table>
    @*<div class="row">
        <div class="col-6 text-right">
            @if (Model.Page > 1)
            {
                <a href="@Url.Action("Index","Transfer",new { page = (Model.Form.Page - 1), wallet = Model.Form.WalletId, year= Model.Form.Year, month = Model.Form.Month })">Previous</a>
            }
        </div>
        <div class="col-6 text-left">
            <a href="@Url.Action("Index","Transfer",new { page = (Model.Form.Page + 1), wallet = Model.Form.WalletId, year= Model.Form.Year, month = Model.Form.Month })">Next</a>
        </div>
    </div>*@
}
else
{
    <p class="alert alert-info alert-dismissible fade show">You do not have any account registered for this service.</p>
}
</div>
            

    </div>