@model Banktive.Web.Models.PaymentModel.ApproveRegularPaymentViewModel
@{
    ViewData["Title"] = "Approve payment";
}

<div class="row">
    <div class="col-3">
        <br/>
    </div>
    <div class="col-6">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col-3">
        <br/>
    </div>
</div>
<br />

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.Form.PaymentId)
    <div class="row">
        <div class="col-md-6">
            <h3>Details of payment</h3>
            Wallet: <b>@Model.Payment.Wallet.Name</b> <br />
            Amount: <b>@Model.Payment.Amount</b> <br />
            Currency: <b>@Model.Payment.Currency.Name (@Model.Payment.Currency.Code)</b> <br />
        </div>
        <div class="col-md-6">
            <br />
            Destination: <b>@(Model.Payment.Destination != null? Model.Payment.Destination.Name + " ("+Model.Payment.XRPLDestinationWallet+")":Model.Payment.XRPLDestinationWallet) </b> <br />
            Date: <b>@Model.Payment.CreatedAt.ToLocalTime()</b> <br />
            Comments: <b>@Model.Payment.Comments</b> <br />
            
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-3">
            @Html.LabelFor(x => x.Form.Password)
        </div>
        <div class="form-group col-md-5">
            @Html.PasswordFor(x => x.Form.Password, new { @class = "form-control" }) <br />
            @Html.ValidationMessageFor(x => x.Form.Password)
        </div>
    </div>*@

    <div class="row">
        <div class="col-md-3">
            <br />
        </div>
        <div class="form-group col-md-5">
            <input type="submit" value="Cancel" class="btn btn-warning loadingButton" name="Form.Cancelled" /> &emsp;
            <input type="submit" class="btn btn-primary loadingButton" value="Approve payment" />
        </div>
    </div>
}